:root {
  /* COLORS  */
  --maroon: #8A1E41;
  --white: #ffffff;
  --tan-dk: #62574D;
  --tan: #8C827A;
  --tan-lt: #E8E6E4;
  --text: #62574D;
  --background: #ffffff;
  --fill: rgba(140, 130, 122, .25);

  /* EFFECTS  */
  --shadow: drop-shadow(5px 5px 4px #E8E6E4);

  /* BREAK POINTS  */
  --tablet: min-width:750px;
  --desktop: min-width:1050px;

  /* CREATED WITH NEXT/FONT/GOOGLE IN LAYOUT FILE
  --body-font: "Montserrat", sans-serif;
  --heading-font: "Barlow Semi Condensed", sans-serif;
  */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow: auto;
  scroll-behavior: smooth;
}

body {
  color: var(--tan-dk);
  background: var(--background);
  font-family: var(--body-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

:focus {
  outline-color: var(--maroon);
  outline-width: thin;
  outline-offset: 3px;
  outline-style: solid;
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
  margin-block: 10px;
  font-weight: 400;
  color: var(--tan);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
  font-family: var(--body-font);
  color: var(--tan-dk);
}

h4 {
  font-size: 14px;
  margin-block: 10px;
  font-weight: 500;
  color: var(--tan-dk);
}

p {
  font-size: 16px;
  line-height: 1.5;
  max-inline-size: 600px;
  padding-block: 10px;
}

/* DO NOT USE */
h5,
h6 {
  color: red;
}

ol,
ul {
  list-style-position: inside;
  padding-inline-start: 4px;
}

button {
  cursor: pointer;
  font: inherit;
  background: none;
  min-inline-size: 45px;
  min-block-size: 45px;
  border: none;
  outline: none;
}

code {
  background-color: var(--tan-lt);
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
}

svg {
  transition: all .2s ease-in-out;

  path {
    transition: all .2s ease-in-out;
    stroke-width: 1px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

/* SCREEN READER CONTENT */
.sr {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}