.link {
    color: var(--maroon);
    background-color: var(--white);
    inline-size: fit-content;
    display: inline-flex;
    gap: 0px;
    transition: all .2s ease-in-out;
    text-decoration: underline;
    text-underline-offset: 4px;
    outline: none;

    svg {
        opacity: 0;
        inline-size: 15px;
        inline-size: 15px;

        path {
            stroke: var(--maroon);
        }
    }

    &:hover,
    &:focus {
        gap: 4px;

        svg {
            opacity: 1;
        }
    }
}